{% extends "base.html" %}
{% block content %}
<h2>La liste des conferences</h2>
{% if user.is_authenticated and user.role == "commitee" %}
<button ><a href="{% url 'conference_add' %}">Ajouter une conférence</a></button>
{% endif %}
</br>
</br>
<table border="1">
<tr>
    <td>title</td>
    <td>location</td>
    <td>Actions</td>
</tr>
{% for c in liste %}
<tr>
    <td>{{c.name}}</td>
    <td>{{c.location}}</td>
    <td>
        <a href="{% url 'conference_detail' c.pk %}">
            Détails
        </a>
        {% if user.is_authenticated and user.role == "commitee" %}
        <a href="{% url 'conference_edit' c.pk %}">
            Edit
        </a>
        <a href="{% url 'conference_delete' c.pk %}">
            Delete
        </a>
        {% endif %}
    </td>
</tr>
{% endfor %}
</table>
{% endblock %}